# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
**/storybook-static/
**/lib
**/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/

packages/ui/storybook-static
packages/ui/storybook-log.txt
packages/ui/package-lock.json
**/coverage
