@import '../styles/index.scss';

.codeViewerContainer {
  :global(.ant-row) {
    display: inherit;
  }
  .codeViewerRow {
    height: 48rem;
    max-height: 48rem;
    overflow: scroll;
    background-color: $palette--dark-grey;
    font-family: monospace;
    padding: 1rem;
    color: $palette--grey-light-5;
    border-radius: 4px;

    .line {
      display: inline-block;
    }

    .date {
      display: inline-block;
      min-width: 14rem;
      color: $palette--grey-light-2;
    }
  }
}
